*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px  40px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(27, 86, 152);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

h2.titulo{
    color: #fff;
    font-size: 34px;
    text-align: center;
}

h2.titulo span{
    color: rgb(27, 86, 152);
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px rgb(87, 144, 209);
    transition: .2s;
    transform: scale(1.05);
}

/* Estilo do cabeçalho */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #424242;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


/* Estilo do topo do site */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
}

.topo-do-site .txt-topo-site h1 span{
    color:rgb(27, 86, 152);
    font-size: 50px;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* Estilo das Especialidades */
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especial-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .6s;
    text-decoration: none;

}

.especialidades .especial-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #ffffff42;
}

.especialidades .especial-box i{
    font-size: 60px;
    color:rgb(27, 86, 152);
}

.especialidades .especial-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* Sobre */
section.sobre{
    padding: 60px 4%;

}

section.sobre .flex{
    align-items: center;
    gap: 80px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 28px;
}

.sobre .txt-sobre h2 span{
    color:rgb(27, 86, 152);
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color:rgb(67, 140, 222);
    font-size: 22px;
    cursor: pointer;
    margin: 0 10px;
    transition: .3s;
}

/* Estilo do Portifolio */
section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #0d0d0d;
}

section.portifolio .flex{
    justify-content: space-around;  
    margin-top: 70px;  
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;  
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.607);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* Estilo dp formulário de contato */
section.formulario{
    padding: 80px 4%;

}

form{
   max-width: 500px; 
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
   margin-top: 40px;
}

 form input, form textarea{
    width: 100%;
    background-color: #ffffff42;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 15px;
    text-align: center;
}

form .btn-enviar input{
    width: 110px;
    background-color: rgb(27, 86, 152);
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}